.cartItem{
    display: flex;
    justify-content: space-between;
    color:#1D1F22;
    padding-bottom: 32px;
    padding-top: 24px;
    border-bottom: 1px solid #E5E5E5;
}

.cartItem:nth-of-type(1){
    border-top: 1px solid #E5E5E5;
}

.cartItem_leftBlock{
    display: flex;
    flex-direction: column;
}

.cartItem_name{
    box-sizing: border-box;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}

.cartItem_brand{
    box-sizing: border-box;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 20px;
}


.cartItem_price{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;  
}

.cartItem_attributeSet{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.cartItem_attributeSet p{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 7px;
}

.cartItem_attributeSetItems{
    display: flex;
}

.cartItem_rightBlock{
    display: flex;
}

.cartItem_quantity{
    display: flex;
    width: 45px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

.cartItem_quantity button{
    box-sizing: border-box;
    border: none;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    transition: all 0.5s;
}

.cartItem_quantity button:hover{
    background-color: rgba(166, 166, 166, 0.2);
}

.cartItem_quantity button:active{
    transform: scale(0.95);
}

.cartItem_quantity p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    text-align: center;
}

.cartItem_photo{
    align-self: center;
    box-sizing: border-box;
    position: relative;
    margin-left: 24px;
    width: 200px;
    height: 100%;
    z-index: 1;
}

.cartItem_arrowsBox{
    box-sizing: border-box;
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: space-between;
    width: 56px;
    z-index: 2;
}

.cartItem_arrow{
    box-sizing: border-box;
    width: 24px;
    height: 24px; 
    background: rgba(0, 0, 0, 0.73);
    text-align: center;
    padding-top: 3px;
    transition: all 0.4s;
}


.cartItem_arrow svg{
    width: 6px;
    height: 12px;
    transition: all 0.5s;
}

.cartItem_arrow:hover{
    transform: scale(1.10);
}

.cartItem_arrow:active{
    transform: scale(0.9);
}



